<!DOCTYPE html>
<html>
  <head>
    <!-- <meta charset="utf-8"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <style type="text/css">
      body {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .mytemplate {
        border: 1px solid #efefef;
        width: 800px;
        margin: 20px auto;
        border-radius: 8px;
        background: white;
        overflow: hidden;
      }

      .template-title {
        background: #092143;
        padding: 20px 0;
      }
      .template-title img {
        width: 70px;
      }
      .template-title h2 {
        font-family: arial;
        font-weight: bold;
        color: white;
      }
      p,
      li {
        font-size: 16px;
      }
    </style>
  </head>
  <body style="background: #efefef; padding: 20px 0">
    <div class="mytemplate">
      <div
        class="logo"
        style="
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        "
      >
        <img
          src="https://onlineparts.shop/logo.png"
          style="margin: 10px auto; width: 110px; margin-top: 20px"
        />
      </div>

      <div class="template-title" style="width: 100%">
        <h2 style="text-align: center; width: 100%; color: #f4a51c">
          Credential Details For Onlineparts.shop
        </h2>
      </div>
      <div class="template-content" style="padding: 20px">
        <p>Dear <%= fullname %>,</p>
        <p>Greetings!</p>
        <p>
          Welcome to OnLine Parts<strong>(OLP) -</strong>&nbsp;Your stop
          destination for earthmoving spare parts in India. We&rsquo;re thrilled
          to see you here!
        </p>
        <p>
          We&rsquo;re confident that OLP will help you find the
          <strong>earthmoving</strong>&nbsp;spare parts as per your requirement
          through our collection of earthmoving spare parts database in just a
          few clicks. We retain an overwhelming marketplace for hosting a
          plethora of genuine as well as OEM &amp; best quality aftermarket
          spare parts online. So far, we have reached 120 happy clients with a
          total of 40 active accounts and counting... we are glad to have
          reached you as an authorized customer on the go! You can now access
          our website at
          <a href="https://www.onlineparts.shop"><u>www.onlineparts.shop</u></a>
        </p>
        <p>Your login credentials for accessing our products online are:</p>
        <p>Username: <%= username %></p>
        <p>Password: <%= password %></p>
        <p>
          Login URL:
          <a href="https://onlineparts.shop/signup"
            ><u>https://onlineparts.shop/signup</u></a
          >
        </p>
        <p>
          Save your login credentials for future reference to explore our range
          of products
        </p>
        <p><strong>How does OLP work?</strong></p>
        <ol>
          <li>The entire website is split into three sections of products:</li>
          <ul>
            <li>JCB Genuine Parts,</li>
            <li>OEM Parts,</li>
            <li>And the Best-Quality Aftermarket Parts.</li>
          </ul>
        </ol>
        <p>
          You are free to explore them as per your wish and as often as you
          want. Complete details of the products will be provided on our
          website.
        </p>
        <ol start="2">
          <li>
            One-time log-in as an authorized user; you will remain logged in
            until you logout the website.
          </li>
          <li>
            By <strong>clicking on</strong> the WhatsApp icon in the right
            bottom corner of each landing page, you are also welcome to get in
            touch with us as deemed necessary for any queries.
          </li>
          <li>
            You can also download our list of products by clicking on the
            Download button located <strong>on upper side</strong> of the
            WhatsApp icon's right bottom corner.
          </li>
          <li>
            For inquiries, click on the &ldquo;ENQUIRY&rdquo; button on the
            landing page of &ldquo;PRODUCT DETAILS&rdquo; to send us your
            inquiries. We will get in touch with you at the earliest.
          </li>
          <li>
            At any moment, you can also switch the language and currency (Either
            in USD or GBP).
          </li>
        </ol>
        <p>Time to time, new products will update on website.</p>
        <p>
          <em
            >For further assistance, please get in touch with us through email
            or ping us on our WhatsApp number. We will go beyond our capacity to
            help you choose the best!</em
          >
        </p>
        <p>Regards,</p>
        <p><b>OLP Team</b></p>
      </div>
      <div class="footer" style="background: #092143; padding: 20px">
        <h3 style="color: white; text-align: center; margin-bottom: 0">
          Connect With Us On
        </h3>
        <div
          class="temaplate-line"
          style="width: 40px; height: 3px; background: white; margin: 10px auto"
        ></div>
        <div class="social-icons" style="text-align: center">
          <a
            href="https://www.facebook.com/onlinepartsearthmoving"
            style="margin-right: 8px"
            ><img
              src="https://onlineparts.shop/facebook.png"
              style="width: 30px"
          /></a>
          <a
            href="https://instagram.com/onlineparts001"
            style="margin-right: 8px"
            ><img
              src="https://onlineparts.shop/instagram.png"
              style="width: 30px"
          /></a>
          <a href="https://www.linkedin.com/company/86456741/admin/"
            ><img
              src="https://onlineparts.shop/linkedin.png"
              style="width: 30px"
          /></a>
        </div>
        <p style="color: white; text-align: center">
          &copy; Copyright and All Right Reserved By Onlineparts.shop
        </p>
      </div>
    </div>
  </body>
</html>
